


.p_line {
    margin-bottom: 50px;
    font-family: 'Alex Brush', cursive;
    font-size: 26px;
}
.p_line a{
    text-align: center;
}
.p_hr1{
     background-color: white;
     border-bottom: 1px solid gray;
 }
.p_hr2{
    width: 80%;
    margin-top: 320px;
    border: 1px dashed gray;
}
.p_event{
    position: relative;
}
.p_sale{
    position: absolute;
    z-index: 10;
    top: 120px;
    color: white;
    font-family: 'Yeon Sung', cursive;
    background-color: rgba(21,20,18,0.1)
}